

@media only screen and (max-width: 700px) {
   .container-2, .container-3 {

    display: block;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  }

}  




.bio {
  text-align: center
}

.container-2 {
  display: flex;
  align-items: center;
  padding: 0 10% 5% 10%;
}
  

img .profile-photo {
  max-width: 100%;
  display: block;
}

.container-3 {
  display: flex;
padding: 5%;
}




.container-3-item {
 padding: 2%;
}

.container-5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3em;
}

.container-5-item {
  text-align: center;
}

table, th, td {
    padding: 10px;
}

.work-experience {
  display: flex;
  justify-content: center;
  padding-bottom: 3em;
}


.title {
  display: inline;
}

.center {
  display: flex;
  justify-content: center;
  padding: 2em 2em 1em 2em;
}



h1 {
    font-weight: bold !important;
    font-size: 8em !important;
    font-family: 'Waiting for the Sunrise', cursive;
}

.main {
  background-color: #D26F4E;
}


.footer {
  display: flex;
  background-color: #7192BE;
  justify-content: space-evenly;
}

.footer-item {
  color: black;
}


.profile-photo {
  display: flex;
  border-radius: 80px;
  margin: 2.5em;
  width: 30%; 
}

 /* Header: */


.container-1 {
      display: flex;
    justify-content: flex-end;
    background-color: #7192BE;
  }

  .header-links {

    padding: .4em;
    display: inline-flex;
    font-size: 1.2em !important;
  }



.skills {
  display: flex;
  justify-content: center;
}


footer {
  font-size: 1.2em !important;
}
